<nav>
    <div class="site-title">
      <a href="/"><h1 style="color: white;"><strong style="color: red;">RG</strong>_BLOG</h1></a>
      <p style="color: white;">A new blog Site</p>
    </div>
    <ul>
      <li><a href="/"><p style="color: white;">Blogs</p></a></li>
      <li><a href="/about"><p style="color: white;">About</p></a></li>
      <li><a href="/blogs/create"><p style="color: white;">New Blogs</p></a></li>
    </ul>
  </nav>