<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2 style="color: white;">About Us</h2>
    <ul style="color: white;">
        <li><p style="color: white;">This is the site where you can read blogs of your choice.</p></li>
        <li> <p style="color: white;">Here you also add your own blogs.</p></li>
        <li><p style="color: white;">if you want to delete the blogs then there is option available for deleting also.</p></li>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>